--
-- PostgreSQL database dump
--

\restrict xqennywGuQIHvLKRRvAGAMTMoqnbXBStcWct5oEkLj5xOByRiciywtV8JlsXzaW

-- Dumped from database version 17.7
-- Dumped by pg_dump version 17.7

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: -
--

SET SESSION AUTHORIZATION DEFAULT;

ALTER TABLE public._prisma_migrations DISABLE TRIGGER ALL;

INSERT INTO public._prisma_migrations (id, checksum, finished_at, migration_name, logs, rolled_back_at, started_at, applied_steps_count) VALUES ('9e94a3e5-6bf7-4f51-b74d-a7dee0208f51', '8240b54a73a3d36bbcf918b97ed1c04f599140370ba5775babf51f05c7ab5d52', '2025-12-19 03:29:03.809396+00', '20251212153912_init', NULL, NULL, '2025-12-19 03:29:03.503584+00', 1);
INSERT INTO public._prisma_migrations (id, checksum, finished_at, migration_name, logs, rolled_back_at, started_at, applied_steps_count) VALUES ('f1729bdb-1382-4657-8bb9-69e7b38e81eb', '376e3a6acaf487bcc74758363022388091b2ad9ec50f7f5bf4e319b0470f2653', '2025-12-19 03:29:04.027249+00', '20251214052700_add_ordering_url_to_tables', NULL, NULL, '2025-12-19 03:29:03.871962+00', 1);
INSERT INTO public._prisma_migrations (id, checksum, finished_at, migration_name, logs, rolled_back_at, started_at, applied_steps_count) VALUES ('b08e3e91-e3e2-402e-a1eb-0c60cfb5d2dc', '785b89c2e23ecc06168ffb71772ae846e32f89e4c91c379afbb03b00399f369f', '2026-01-09 02:54:34.523542+00', '20260109025434_update_reviews_table', NULL, NULL, '2026-01-09 02:54:34.335095+00', 1);


ALTER TABLE public._prisma_migrations ENABLE TRIGGER ALL;

--
-- Data for Name: analytics_events; Type: TABLE DATA; Schema: public; Owner: -
--

ALTER TABLE public.analytics_events DISABLE TRIGGER ALL;



ALTER TABLE public.analytics_events ENABLE TRIGGER ALL;

--
-- Data for Name: tenants; Type: TABLE DATA; Schema: public; Owner: -
--

ALTER TABLE public.tenants DISABLE TRIGGER ALL;



ALTER TABLE public.tenants ENABLE TRIGGER ALL;

--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: -
--

ALTER TABLE public.users DISABLE TRIGGER ALL;

INSERT INTO public.users (id, email, password_hash, full_name, phone, avatar_url, role, tenant_id, email_verified, status, last_login_at, created_at, updated_at, account_type) VALUES ('20786fed-9e83-42f8-b1e9-a443dc0c55e4', 'admin@smartrestaurant.com', '$2b$10$bpFB3Qv7z4FsM9aQGZDBBe75FrTaSMYlaS/7ke.Qr/UoR04vxxYNy', 'System Administrator', NULL, NULL, 'super_admin', NULL, true, 'active', NULL, '2025-12-19 03:29:12.892', '2025-12-19 03:29:12.892', 'staff');
INSERT INTO public.users (id, email, password_hash, full_name, phone, avatar_url, role, tenant_id, email_verified, status, last_login_at, created_at, updated_at, account_type) VALUES ('200594c7-e9c7-4aca-8e00-6cf99ffc5417', 'waiter2@joes-diner.com', '$2b$10$clZLeksiuwPZp7byxaIfyuJInZgkAcdzertXqy98pZeSoAMCLYqcq', 'Lisa Nguyen', '+84901234570', NULL, 'waiter', '5e022872-eeea-4d99-b1a9-fb484e6154ec', true, 'active', NULL, '2025-12-19 03:29:13.376', '2025-12-19 03:29:13.376', 'staff');
INSERT INTO public.users (id, email, password_hash, full_name, phone, avatar_url, role, tenant_id, email_verified, status, last_login_at, created_at, updated_at, account_type) VALUES ('9add48b1-54d1-47c1-9500-e962c232a948', 'chef2@joes-diner.com', '$2b$10$/HVYJggiXlnnYLuO9bgonOxZA4u4iZTSMTFlEsGT50VDWpd2Xebxe', 'Emily Pham', '+84901234572', NULL, 'kitchen_staff', '5e022872-eeea-4d99-b1a9-fb484e6154ec', true, 'active', NULL, '2025-12-19 03:29:13.573', '2025-12-19 03:29:13.573', 'staff');


ALTER TABLE public.users ENABLE TRIGGER ALL;

--
-- Data for Name: audit_logs; Type: TABLE DATA; Schema: public; Owner: -
--

ALTER TABLE public.audit_logs DISABLE TRIGGER ALL;



ALTER TABLE public.audit_logs ENABLE TRIGGER ALL;

--
-- Data for Name: categories; Type: TABLE DATA; Schema: public; Owner: -
--

ALTER TABLE public.categories DISABLE TRIGGER ALL;

INSERT INTO public.categories (id, tenant_id, name, description, display_order, is_active, created_at, updated_at) VALUES ('f90d4d0b-b0e6-4bb8-9682-fb0119294e49', '0e45bf47-4395-44e8-b032-d51cdc0bb4a1', 'Phß╗ƒ & B├║n (Noodle Soups)', 'C├íc m├│n phß╗ƒ v├á b├║n ─æß║╖c tr╞░ng Viß╗çt Nam', 2, true, '2025-12-19 03:29:15.507', '2025-12-19 03:29:15.507');
INSERT INTO public.categories (id, tenant_id, name, description, display_order, is_active, created_at, updated_at) VALUES ('0c03faab-783a-43b2-973c-3588ad0b8435', '0e45bf47-4395-44e8-b032-d51cdc0bb4a1', '─Éß╗ô Uß╗æng (Beverages)', 'C├íc loß║íi ─æß╗ô uß╗æng t╞░╞íi m├ít v├á c├á ph├¬ Viß╗çt Nam', 4, true, '2025-12-19 03:29:15.508', '2025-12-19 03:29:15.508');
INSERT INTO public.categories (id, tenant_id, name, description, display_order, is_active, created_at, updated_at) VALUES ('a71b31f5-2e72-47e6-bdfc-79673c88f297', '0e45bf47-4395-44e8-b032-d51cdc0bb4a1', 'M├│n C╞ím (Rice Dishes)', 'C├íc m├│n c╞ím phong ph├║ v├á ngon miß╗çng', 3, true, '2025-12-19 03:29:15.507', '2025-12-19 03:29:15.507');


ALTER TABLE public.categories ENABLE TRIGGER ALL;

--
-- Data for Name: daily_sales_summary; Type: TABLE DATA; Schema: public; Owner: -
--

ALTER TABLE public.daily_sales_summary DISABLE TRIGGER ALL;



ALTER TABLE public.daily_sales_summary ENABLE TRIGGER ALL;

--
-- Data for Name: idempotency_keys; Type: TABLE DATA; Schema: public; Owner: -
--

ALTER TABLE public.idempotency_keys DISABLE TRIGGER ALL;



ALTER TABLE public.idempotency_keys ENABLE TRIGGER ALL;

--
-- Data for Name: menu_items; Type: TABLE DATA; Schema: public; Owner: -
--

ALTER TABLE public.menu_items DISABLE TRIGGER ALL;



ALTER TABLE public.menu_items ENABLE TRIGGER ALL;

--
-- Data for Name: menu_item_analytics; Type: TABLE DATA; Schema: public; Owner: -
--

ALTER TABLE public.menu_item_analytics DISABLE TRIGGER ALL;



ALTER TABLE public.menu_item_analytics ENABLE TRIGGER ALL;

--
-- Data for Name: menu_item_images; Type: TABLE DATA; Schema: public; Owner: -
--

ALTER TABLE public.menu_item_images DISABLE TRIGGER ALL;

INSERT INTO public.menu_item_images (id, menu_item_id, image_url, display_order, is_primary, created_at) VALUES ('22b1466e-e27c-42a9-b05f-3f3b1cb3c068', '63e4b284-a8dc-4f85-954f-6305cd23445d', 'https://s3.ntnhan.site/menu-images/23ef6aad-0cc7-4be6-bcb1-2396d5afa6cc.jpg', 0, false, '2026-01-12 06:25:47.414');
INSERT INTO public.menu_item_images (id, menu_item_id, image_url, display_order, is_primary, created_at) VALUES ('72872372-b31f-4b53-9aa5-79cff04e5bc2', '63e4b284-a8dc-4f85-954f-6305cd23445d', 'https://s3.ntnhan.site/menu-images/ae1b2645-d5b2-42a2-986f-5538657ae66c.jpg', 1, true, '2026-01-12 06:25:47.414');
INSERT INTO public.menu_item_images (id, menu_item_id, image_url, display_order, is_primary, created_at) VALUES ('5053a4b6-ad44-4a1c-991c-c72ce871c2bd', '67b3166c-a7b1-4e23-b89e-0ecc161b2e3b', 'https://s3.ntnhan.site/menu-images/10b15512-dfb7-416f-b3bb-851e43716119.jpg', 0, true, '2026-01-12 06:15:14.607');


ALTER TABLE public.menu_item_images ENABLE TRIGGER ALL;

--
-- Data for Name: modifier_groups; Type: TABLE DATA; Schema: public; Owner: -
--

ALTER TABLE public.modifier_groups DISABLE TRIGGER ALL;

INSERT INTO public.modifier_groups (id, tenant_id, name, type, is_required, min_selections, max_selections, display_order, created_at, updated_at) VALUES ('e2a3bcf8-6d4b-46dc-8465-21c2dfc66584', '0e45bf47-4395-44e8-b032-d51cdc0bb4a1', 'K├¡ch Cß╗í (Size)', 'single_choice', true, 1, 1, 1, '2025-12-19 03:29:15.627', '2025-12-19 03:29:15.627');
INSERT INTO public.modifier_groups (id, tenant_id, name, type, is_required, min_selections, max_selections, display_order, created_at, updated_at) VALUES ('f75383d0-5b62-4e26-a783-69fe4a749e4c', '0e45bf47-4395-44e8-b032-d51cdc0bb4a1', 'Topping (Toppings)', 'multiple_choice', false, 0, 5, 2, '2025-12-19 03:29:15.698', '2025-12-19 03:29:15.698');
INSERT INTO public.modifier_groups (id, tenant_id, name, type, is_required, min_selections, max_selections, display_order, created_at, updated_at) VALUES ('eb647287-37ca-49a3-90ce-3425060a9af3', '5e022872-eeea-4d99-b1a9-fb484e6154ec', '─Éß╗Ö ch├¡n', 'single_choice', false, 0, 1, 3, '2025-12-26 00:26:50.944', '2025-12-26 00:26:50.944');


ALTER TABLE public.modifier_groups ENABLE TRIGGER ALL;

--
-- Data for Name: menu_item_modifier_groups; Type: TABLE DATA; Schema: public; Owner: -
--

ALTER TABLE public.menu_item_modifier_groups DISABLE TRIGGER ALL;

INSERT INTO public.menu_item_modifier_groups (id, menu_item_id, modifier_group_id, created_at) VALUES ('1cc7c8c0-fc84-4fe9-a509-a946fb9caa91', 'aa5e7dbf-f675-4546-92eb-1ac658db1263', 'f75383d0-5b62-4e26-a783-69fe4a749e4c', '2025-12-19 03:29:15.772');
INSERT INTO public.menu_item_modifier_groups (id, menu_item_id, modifier_group_id, created_at) VALUES ('9940ef63-fadb-4b04-a0fb-e064aefbadd4', 'aa5e7dbf-f675-4546-92eb-1ac658db1263', 'e2a3bcf8-6d4b-46dc-8465-21c2dfc66584', '2025-12-19 03:29:15.772');
INSERT INTO public.menu_item_modifier_groups (id, menu_item_id, modifier_group_id, created_at) VALUES ('faf598dc-c9fd-4826-a6c1-fd45cff787b4', '3fad80c7-0c0b-4ea7-af29-8943089be6a3', 'e2a3bcf8-6d4b-46dc-8465-21c2dfc66584', '2025-12-19 03:29:15.773');


ALTER TABLE public.menu_item_modifier_groups ENABLE TRIGGER ALL;

--
-- Data for Name: menu_item_pairings; Type: TABLE DATA; Schema: public; Owner: -
--

ALTER TABLE public.menu_item_pairings DISABLE TRIGGER ALL;



ALTER TABLE public.menu_item_pairings ENABLE TRIGGER ALL;

--
-- Data for Name: modifiers; Type: TABLE DATA; Schema: public; Owner: -
--

ALTER TABLE public.modifiers DISABLE TRIGGER ALL;

INSERT INTO public.modifiers (id, modifier_group_id, name, price_adjustment, is_available, display_order, created_at, updated_at) VALUES ('ce239a94-7738-469d-9b1c-ab0128e8754d', 'e2a3bcf8-6d4b-46dc-8465-21c2dfc66584', 'Vß╗½a (Regular)', 0.00, true, 2, '2025-12-19 03:29:15.663', '2025-12-19 03:29:15.663');
INSERT INTO public.modifiers (id, modifier_group_id, name, price_adjustment, is_available, display_order, created_at, updated_at) VALUES ('2535adf0-ca02-4d62-8f10-271a7e4cc56c', 'e2a3bcf8-6d4b-46dc-8465-21c2dfc66584', 'Nhß╗Å (Small)', -8000.00, true, 1, '2025-12-19 03:29:15.662', '2025-12-19 03:29:15.662');
INSERT INTO public.modifiers (id, modifier_group_id, name, price_adjustment, is_available, display_order, created_at, updated_at) VALUES ('ab68f704-1350-453d-bcd3-ea9911d3790e', 'e2a3bcf8-6d4b-46dc-8465-21c2dfc66584', 'Lß╗¢n (Large)', 12000.00, true, 3, '2025-12-19 03:29:15.663', '2025-12-19 03:29:15.663');


ALTER TABLE public.modifiers ENABLE TRIGGER ALL;

--
-- Data for Name: notifications; Type: TABLE DATA; Schema: public; Owner: -
--

ALTER TABLE public.notifications DISABLE TRIGGER ALL;



ALTER TABLE public.notifications ENABLE TRIGGER ALL;

--
-- Data for Name: zones; Type: TABLE DATA; Schema: public; Owner: -
--

ALTER TABLE public.zones DISABLE TRIGGER ALL;

INSERT INTO public.zones (id, tenant_id, name, description, display_order, is_active, created_at, updated_at) VALUES ('a96cde5d-7f74-486a-9422-5a77e48df22d', '5e022872-eeea-4d99-b1a9-fb484e6154ec', 'Khu Ngo├ái Trß╗¥i (Outdoor)', 'Outdoor seating area', 4, true, '2025-12-19 03:29:15.193', '2025-12-19 03:29:15.193');
INSERT INTO public.zones (id, tenant_id, name, description, display_order, is_active, created_at, updated_at) VALUES ('c51d0fff-21a0-4476-a59f-cf0db3f09786', '5e022872-eeea-4d99-b1a9-fb484e6154ec', 'Khu VIP (VIP Area)', 'Khu vß╗▒c ri├¬ng t╞░ cao cß║Ñp - VIP private dining area', 3, true, '2025-12-19 03:29:15.193', '2025-12-19 03:29:15.193');
INSERT INTO public.zones (id, tenant_id, name, description, display_order, is_active, created_at, updated_at) VALUES ('70d2d449-38d5-40db-8a24-9838826097dd', '0e45bf47-4395-44e8-b032-d51cdc0bb4a1', 'Ph├▓ng Ri├¬ng (Private Rooms)', 'Private dining rooms', 3, true, '2025-12-19 03:29:15.812', '2025-12-19 03:29:15.812');


ALTER TABLE public.zones ENABLE TRIGGER ALL;

--
-- Data for Name: tables; Type: TABLE DATA; Schema: public; Owner: -
--

ALTER TABLE public.tables DISABLE TRIGGER ALL;



ALTER TABLE public.tables ENABLE TRIGGER ALL;

--
-- Data for Name: table_sessions; Type: TABLE DATA; Schema: public; Owner: -
--

ALTER TABLE public.table_sessions DISABLE TRIGGER ALL;

INSERT INTO public.table_sessions (id, table_id, customer_id, guest_name, session_token, started_at, ended_at, duration_minutes, status, created_at, updated_at, device_ids, expires_at, guest_count, last_activity_at) VALUES ('35c317e1-a0a3-44da-8a08-08f740d8441d', '6f330f77-47e9-4fff-bac3-47950db0e61b', '278caa89-0d2e-41db-ba29-1007478c1077', NULL, 'session_token_2_1766114955938', '2025-12-19 03:29:15.938', '2026-01-04 15:35:00.011', 23765, 'abandoned', '2025-12-19 03:29:15.939', '2026-01-04 15:35:01.149', '{}', NULL, 1, '2025-12-31 07:15:44.576611');
INSERT INTO public.table_sessions (id, table_id, customer_id, guest_name, session_token, started_at, ended_at, duration_minutes, status, created_at, updated_at, device_ids, expires_at, guest_count, last_activity_at) VALUES ('4992b37e-d4db-4aed-b39a-d08127305190', 'a749111e-d2cf-4b01-8cfe-639e6d0bdbce', '67d05caa-c35f-498e-aefc-812d7cab7e22', NULL, 'session_token_1766114955350', '2025-12-19 03:29:15.35', '2026-01-04 15:35:00.011', 23765, 'abandoned', '2025-12-19 03:29:15.352', '2026-01-04 15:35:01.317', '{}', NULL, 1, '2025-12-31 07:15:44.576611');


ALTER TABLE public.table_sessions ENABLE TRIGGER ALL;

--
-- Data for Name: orders; Type: TABLE DATA; Schema: public; Owner: -
--

ALTER TABLE public.orders DISABLE TRIGGER ALL;



ALTER TABLE public.orders ENABLE TRIGGER ALL;

--
-- Data for Name: order_items; Type: TABLE DATA; Schema: public; Owner: -
--

ALTER TABLE public.order_items DISABLE TRIGGER ALL;



ALTER TABLE public.order_items ENABLE TRIGGER ALL;

--
-- Data for Name: order_item_modifiers; Type: TABLE DATA; Schema: public; Owner: -
--

ALTER TABLE public.order_item_modifiers DISABLE TRIGGER ALL;

INSERT INTO public.order_item_modifiers (id, order_item_id, modifier_id, modifier_name, price_adjustment, created_at) VALUES ('3407fd1d-f3ad-4296-b524-ec447f2b34f8', 'a835c25c-726c-4808-a1f8-d99566591d40', 'f5aea82e-f077-4b49-8857-7817ff6a6a96', 'Lß╗¢n (Large)', 15000.00, '2026-01-04 16:01:43.773');
INSERT INTO public.order_item_modifiers (id, order_item_id, modifier_id, modifier_name, price_adjustment, created_at) VALUES ('3e0c0cc6-e98f-461c-94ce-d898fef0de67', 'a835c25c-726c-4808-a1f8-d99566591d40', '5cd52a20-f270-4365-9d3b-8422e24806d7', 'Th├¬m Thß╗ït (Extra Meat)', 20000.00, '2026-01-04 16:01:43.773');
INSERT INTO public.order_item_modifiers (id, order_item_id, modifier_id, modifier_name, price_adjustment, created_at) VALUES ('720fb65a-70c3-4ef9-8c35-128ffe25b6ca', '476d92cb-2f72-4078-ac63-fff33fa23b1b', 'f5aea82e-f077-4b49-8857-7817ff6a6a96', 'Lß╗¢n (Large)', 15000.00, '2026-01-06 13:36:52.818');


ALTER TABLE public.order_item_modifiers ENABLE TRIGGER ALL;

--
-- Data for Name: order_status_history; Type: TABLE DATA; Schema: public; Owner: -
--

ALTER TABLE public.order_status_history DISABLE TRIGGER ALL;

INSERT INTO public.order_status_history (id, order_id, from_status, to_status, changed_by, notes, created_at) VALUES ('ec38b9eb-a36e-4f4d-baab-8356020c9995', 'fcabf368-3634-436e-af30-d0d5bff66e3f', 'pending', 'accepted', 'db8bc6b8-9cf7-42c9-b8d2-e1bc017082dc', NULL, '2025-12-31 07:21:34.158');
INSERT INTO public.order_status_history (id, order_id, from_status, to_status, changed_by, notes, created_at) VALUES ('5c88f48b-03f1-43f2-9c61-423c216961d4', 'fcabf368-3634-436e-af30-d0d5bff66e3f', 'accepted', 'in_progress', 'db8bc6b8-9cf7-42c9-b8d2-e1bc017082dc', NULL, '2025-12-31 07:21:35.537');
INSERT INTO public.order_status_history (id, order_id, from_status, to_status, changed_by, notes, created_at) VALUES ('da491b21-89f1-499e-9ae6-364fa0060ade', 'fcabf368-3634-436e-af30-d0d5bff66e3f', 'in_progress', 'ready', 'db8bc6b8-9cf7-42c9-b8d2-e1bc017082dc', NULL, '2025-12-31 07:21:37.424');


ALTER TABLE public.order_status_history ENABLE TRIGGER ALL;

--
-- Data for Name: payments; Type: TABLE DATA; Schema: public; Owner: -
--

ALTER TABLE public.payments DISABLE TRIGGER ALL;

INSERT INTO public.payments (id, order_id, tenant_id, payment_method, amount, currency, status, transaction_id, gateway_response, paid_at, refunded_at, refund_amount, created_at, updated_at, cancel_reason, invoice_num) VALUES ('f93895f9-fa6b-4b59-b0d5-ec246dba9b76', 'e54b7901-54a0-4067-beee-5f10b4b891a0', '5e022872-eeea-4d99-b1a9-fb484e6154ec', 'cash', 6480.00, 'VND', 'paid', 'CASH-1768201871280-942', 'null', '2026-01-12 07:11:32.635', NULL, NULL, '2026-01-12 07:11:11.281', '2026-01-12 07:11:32.636', NULL, NULL);


ALTER TABLE public.payments ENABLE TRIGGER ALL;

--
-- Data for Name: refresh_tokens; Type: TABLE DATA; Schema: public; Owner: -
--

ALTER TABLE public.refresh_tokens DISABLE TRIGGER ALL;

INSERT INTO public.refresh_tokens (id, user_id, token, expires_at, created_at) VALUES ('c756a429-0c20-421e-8e00-769e26f985ed', 'db8bc6b8-9cf7-42c9-b8d2-e1bc017082dc', '8449d354acb0472e43d71d6ff0bc087981117a4d738ac4604e1b68aee2e1025c486771b5418810f67e0caedad63ef104c25855d57d8f034354100410b74d88ac', '2026-01-01 14:10:00.812', '2025-12-25 14:10:00.812');
INSERT INTO public.refresh_tokens (id, user_id, token, expires_at, created_at) VALUES ('a96af229-7eb3-4852-9bf3-5c4bb5e94454', 'db8bc6b8-9cf7-42c9-b8d2-e1bc017082dc', '1b68829efa9635c2672bf2c89d6c243fdf8e791c9fbdfa6c09ae44721b93ed55742e8e3cbea48b91ae5b09bd03e976e1458b2ab2e4383bd5d3a8016cb43acac4', '2025-12-26 03:37:26.045', '2025-12-19 03:37:26.052');
INSERT INTO public.refresh_tokens (id, user_id, token, expires_at, created_at) VALUES ('aea0cd9e-9179-468b-a13a-30778b72ac7a', 'db8bc6b8-9cf7-42c9-b8d2-e1bc017082dc', 'a0d49a7dcdab88b297b760739cf136ee011c3ae42bbea9b1fd8c890f43ed8c4aac461246ae83dc4bf6456638285254aedc31b1b5c06ac06d4541d53c15b88d24', '2025-12-26 03:37:26.056', '2025-12-19 03:37:26.057');


ALTER TABLE public.refresh_tokens ENABLE TRIGGER ALL;

--
-- Data for Name: reviews; Type: TABLE DATA; Schema: public; Owner: -
--

ALTER TABLE public.reviews DISABLE TRIGGER ALL;

INSERT INTO public.reviews (id, menu_item_id, customer_id, order_id, rating, comment, is_verified_purchase, status, created_at, updated_at, review_type) VALUES ('039821c8-a771-41db-b319-6dd0d645c6e1', NULL, '67d05caa-c35f-498e-aefc-812d7cab7e22', '4633d5f5-6e0b-4fde-bcc1-ba2566e41622', 5, 'Nh├ón vi├¬n phß╗Ñc vß╗Ñ tß╗æt', true, 'approved', '2026-01-09 04:46:41.307', '2026-01-09 04:46:41.307', 'order');
INSERT INTO public.reviews (id, menu_item_id, customer_id, order_id, rating, comment, is_verified_purchase, status, created_at, updated_at, review_type) VALUES ('880420bd-24f3-47d7-b1ac-5787b5e5f91c', '67b3166c-a7b1-4e23-b89e-0ecc161b2e3b', '67d05caa-c35f-498e-aefc-812d7cab7e22', '4633d5f5-6e0b-4fde-bcc1-ba2566e41622', 5, 'Trß╗⌐ng ngon', true, 'approved', '2026-01-09 04:47:12.651', '2026-01-09 04:47:12.651', 'item');
INSERT INTO public.reviews (id, menu_item_id, customer_id, order_id, rating, comment, is_verified_purchase, status, created_at, updated_at, review_type) VALUES ('d395a0af-9b26-4924-b70d-0c1daa80e342', NULL, '67d05caa-c35f-498e-aefc-812d7cab7e22', 'd0a43c99-9361-4292-9567-a7536d95aa0f', 4, NULL, true, 'approved', '2026-01-09 05:07:19.267', '2026-01-09 05:07:19.267', 'order');


ALTER TABLE public.reviews ENABLE TRIGGER ALL;

--
-- Data for Name: user_oauth_providers; Type: TABLE DATA; Schema: public; Owner: -
--

ALTER TABLE public.user_oauth_providers DISABLE TRIGGER ALL;



ALTER TABLE public.user_oauth_providers ENABLE TRIGGER ALL;

--
-- Data for Name: user_verification_tokens; Type: TABLE DATA; Schema: public; Owner: -
--

ALTER TABLE public.user_verification_tokens DISABLE TRIGGER ALL;

INSERT INTO public.user_verification_tokens (id, user_id, token, type, expires_at, used_at, created_at) VALUES ('365bbf2d-23f5-4b5b-8411-7cfb80a6f9bf', 'db8bc6b8-9cf7-42c9-b8d2-e1bc017082dc', '114331e82fe36cbd9bdd58aa7d667e2fa3ad66f36d69cf0789a22b9cf5237492', 'password_reset', '2025-12-20 13:57:30.462', '2025-12-20 12:58:17.433', '2025-12-20 12:57:30.949');
INSERT INTO public.user_verification_tokens (id, user_id, token, type, expires_at, used_at, created_at) VALUES ('d61cf1b7-2d81-4ebf-b480-d18a2dcf9b1f', 'db8bc6b8-9cf7-42c9-b8d2-e1bc017082dc', 'eac36632d1ecedeaaf37db5ab74dc221b4c04dbaf70aae40a1bd1b459ce555e6', 'password_reset', '2025-12-20 13:58:17.433', '2025-12-25 16:22:31.726', '2025-12-20 12:58:17.449');
INSERT INTO public.user_verification_tokens (id, user_id, token, type, expires_at, used_at, created_at) VALUES ('f67373fb-4f4e-4dbd-ac64-324e07701568', 'db8bc6b8-9cf7-42c9-b8d2-e1bc017082dc', 'a949be522fa823ccdedb86697f8e8633c5e29d1f7eaea85c782c6f8b27e1d19d', 'password_reset', '2025-12-25 17:22:31.726', NULL, '2025-12-25 16:22:31.737');


ALTER TABLE public.user_verification_tokens ENABLE TRIGGER ALL;

--
-- Data for Name: vouchers; Type: TABLE DATA; Schema: public; Owner: -
--

ALTER TABLE public.vouchers DISABLE TRIGGER ALL;



ALTER TABLE public.vouchers ENABLE TRIGGER ALL;

--
-- Data for Name: voucher_codes; Type: TABLE DATA; Schema: public; Owner: -
--

ALTER TABLE public.voucher_codes DISABLE TRIGGER ALL;



ALTER TABLE public.voucher_codes ENABLE TRIGGER ALL;

--
-- Data for Name: voucher_redemptions; Type: TABLE DATA; Schema: public; Owner: -
--

ALTER TABLE public.voucher_redemptions DISABLE TRIGGER ALL;



ALTER TABLE public.voucher_redemptions ENABLE TRIGGER ALL;

--
-- PostgreSQL database dump complete
--

\unrestrict xqennywGuQIHvLKRRvAGAMTMoqnbXBStcWct5oEkLj5xOByRiciywtV8JlsXzaW

